@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

header
{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 60px;
}

.menu
{
    width: 50%;
    align-items: right;
}

.center 
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%; 
}

#nsei1
{
    background-color: #5989bd; /* Cor de fundo azul para o botão de ajuda */
    color: white; /* Cor do texto no botão de ajuda */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#nsei1:hover{
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

#nsei2
{
    background-color: #ff6156; /* Cor de fundo azul para o botão de ajuda */
    color: white; /* Cor do texto no botão de ajuda */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#nsei1:hover{
    background-color: #5e0000; /* Cor de fundo azul mais escura ao passar o mouse */
}

#nsei3
{
    background-color: #007bff; /* Cor de fundo azul para o botão de ajuda */
    color: white; /* Cor do texto no botão de ajuda */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#nsei1:hover{
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

@keyframes moveQuadrado1 {
    0% {
        top: 0;
        left: 0;
    }
    100% {
        top: 110px; 
        left: 130px; 
    }

}

#talk {
    width: 80px;
    height: auto;
    position: fixed;
    left: -22px;
}

@keyframes moveQuadrado2 {
    0% {
        top: 0;
        left: 0;
    }
    100% {
        top: 95px; 
        left: 100px; 
    }

}
@keyframes moveQuadrado3 {
    0% {
        top: 0;
        left: 0;
    }
    100% {
        top: 260px; 
        left: 250px; 
    }

}

.quadrado1 
{
width: 180px;
height: 180px;
background-color: rgb(10, 90, 10);
border-radius: 10px;
margin: 10px;
position: absolute;
animation: moveQuadrado1 3s ease-in-out forwards;
}

.quadrado2 
{
width: 60px;
height: 60px;
background-color: green;
border-radius: 10px;
position: absolute;
border: 4px solid white;
animation: moveQuadrado2 2s ease-in-out forwards;
}

.quadrado3
{
width: 80px;
height: 80px;
background-color: green;
border-radius: 10px;
position: absolute;
border: 4px solid white;
animation: moveQuadrado3 4s ease-in-out forwards;
}


.container
{
max-width: 300px;
padding: 20px;
margin-left: 50px;
border: 2px solid rgb(255, 255, 255);
border-radius: 50px;
position: absolute;
transform: translate(-50%);
background-color: rgb(0, 0, 0);
font-family: 'Quicksand', sans-serif;
align-items: left;
min-width: 0;
color: rgb(255, 255, 255);
}

.img {
max-width: 300px;
padding: 20px;
margin-left: 50px;
border-radius: 50px;
position: absolute;
transform: translate(-50%);
align-items: left;
min-width: 0;
margin-bottom: 360px;
margin-left: -40px;
}

.img2 {
    max-width: 300px;
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    transform: translate(-50%);
    align-items: left;
    min-width: 0;
    margin-top: 250px;
    margin-left: -200px;
}

#cont1
{
top: -80px;
z-index: 1;
}

#cont2
{ 
top: 220px;
z-index: 1;
right: -400px;
}

#imgcurso 
{
    animation: movecurso 3s ease-in-out forwards;
    position: absolute;
    max-width: 50%;
    height: auto;
}

#curso {
    word-wrap: break-word;
}

@keyframes movecurso {
    0% {
        top: 0;
        right: -500px;
    }
    100% {
        /*
        top: 100px; 
        right: 400px;
        Valores Anteriores ao Teste
        */
        top: 40px;
        right: 24vw;
        /* Valores Posteriores ao Teste */
    }
}
/* Estilo para o cabeçalho */
/* Estilo para o botão de ajuda */
.ajuda-button {
    background-color: #007bff; /* Cor de fundo azul para o botão de ajuda */
    color: white; /* Cor do texto no botão de ajuda */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.ajuda-button:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

#cont1
{
z-index: 1;
}

#imgcm
{
height: 200px;
position: absolute;
border-radius: 20px;
box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.5);
position: absolute;
}

#imggp
{
height: 200px;
position: absolute;
border-radius: 20px;
box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.5);
}

section.baixo
{
display: flex ;
width: 100%;
height: 100%;
background-color: #45668a;
}

#tecpro {
    position: absolute;
    right: 80px;
    top: 870px;
    width: 780px;
    height: auto;
}
    