@media (min-width: 1101px) {
    .falapo
    {
        right: 0.5dvw;
        position: fixed;
        top: 39dvh;
    }
}

@media (max-width: 1100px) {
    .falapo {
        right: 0.5dvw;
        position: fixed;
        top: 41%;
    }
}