/* Testes de Navegacao por Botoes de Header */

html {
    scroll-behavior: smooth;
    scroll-padding:
        var(--scroll-padding, 5rem)
}

body {
    margin: 0;
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

img {

    margin-left: 10px;
    width: 5.5vw;
    height: 5vw;
    margin-bottom: 30px;
}

.container {

    position: absolute;
    left: 25%;
    top: 15%;
}

h1 {

    font-size: xx-large;
}