*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section:not(.slider) {
  
  display: flex;
  align-items: center;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}