:root {
  --primary: #008060;
  --primary-2: #35ba99;
  --primary-3: #e0fdf6;
  --primary-4: #5bcb9d;
  --secondary: #4b39ff;
  --secondary-2: #6f61ff;
  --secondary-3: #a9a1f9;
  --secondary-4: #1073c0;
  --secondary-5: #2a17ec;
  --tertiary: #1c1b25;
  --tertiary-2: #2c343e;
  --tertiary-3: #596573;
  --tertiary-4: #8c95a1;
  --tertiary-5: #c4c9cf;
  --tertiary-6: #eaedf0;
  --tertiary-7: #8c8c8c;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  --border: #c4c9cf;
  --text: #1c1b25;
  --white: #fff;
  --light-background: #eff0f1;
  --white-transparent: rgba(255, 255, 255, 0.2);
  --base-font: 16px;
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
  --layer-1: 1;
  --layer-2: 400;
  --layer-3: 500;
  --layer-4: 600;
  --layer-5: 700;
  --layer-6: 800;
  --layer-7: 900;
  --layer-8: 1000;
}

.top-navigation__container {
  width: 100%;
  margin: auto;
  padding: 0 0.75rem;
}

.top-navigation__link,
.top-navigation__link--active {
  font-weight: 399;
  font-size: 1.5rem;
  line-height: 160%;
  font-family: 'Lato', sans-serif;
}

.top-navigation__container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.top-navigation__link,
.top-navigation__link--active {
  height: 100%;
  padding: 0 1rem;
  color: var(--tertiary-2);
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.3s ease 0s;
  display: flex;
}

.top-navigation__link:hover, .top-navigation__link:focus,
.top-navigation__link--active:hover,
.top-navigation__link--active:focus {
  opacity: 1;
}

.top-navigation__link--active {
  color: var(--primary);
  background-image: linear-gradient(45deg, var(--primary), var(--primary));
  background-repeat: no-repeat;
  background-position: left 103%;
  background-size: 100% 3px;
}

.top-navigation__link-badge {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #EFF8FF;
  margin: 8px 0 8px 8px;
  padding: 2px 8px;
  border-radius: 16px;
}

.top-navigation__link-badge > svg {
  margin-top: -2px;
}

.top-navigation__link-badge > span {
  color: #175CD3;
  font-size: 12px;
  font-weight: bold;
}

.top-navigation__input::placeholder {
  color: var(--tertiary-3);
}

.top-navigation__link-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: .125rem;
}

#img_bandeiraestados
{
  display: flex;
  bottom: 0;
  margin-top: 18px;
  height: 50%;
  width: auto;
  border-radius: 5px;
  transition: 0.5s;
}

#img_bandeiraespanha
{ 
  display: flex;
  bottom: 0;
  margin-top: 18px;
  height: 50%;
  width: auto;
  border-radius: 5px;
  transition: 0.5s;
}

#img_bandeiraestados:hover, #img_bandeiraespanha:hover {
  border: 2px solid var(--primary);
}
